POSTGRES_CONTAINER_NAME=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

REDIS_CONTAINER_NAME=
REDIS_USER_CACHE_TTL_SECONDS=
REDIS_URL=
DATABASE_URL=
APP_HOST=
APP_PORT=

FRONTEND_ORIGIN=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
PASSWORD_RESET_TOKEN_EXPIRE_HOURS=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_FROM_NAME=
MAIL_STARTTLS=
MAIL_SSL_TLS=
USE_CREDENTIALS=
VERIFY_EMAIL_HOST=

TOKEN_CLEANUP_INTERVAL_SECONDS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
