POSTGRES_CONTAINER_NAME=hw_10-postgres

POSTGRES_USER=hw_10_user
POSTGRES_PASSWORD=hw_10_password
POSTGRES_DB=hw10

POSTGRES_PORT=5432

REDIS_CONTAINER_NAME=hw_10-redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=change_me_redis_password
REDIS_USER_CACHE_TTL_SECONDS=3600

DATABASE_URL=postgresql+asyncpg://hw_10_user:hw_10_password@127.0.0.1:5432/hw10

APP_CONTAINER_NAME=hw08-app-container
APP_HOST=127.0.0.1
APP_PORT=8003
FRONTEND_ORIGIN=http://localhost:3000

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
PASSWORD_RESET_TOKEN_EXPIRE_HOURS=1

MAIL_USERNAME="...@gmail.com"
MAIL_PASSWORD="..."
MAIL_FROM="...a@gmail.com"
MAIL_PORT=587
MAIL_SERVER="...gmail.com",
MAIL_FROM_NAME=Contacts API
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
USE_CREDENTIALS=True
VERIFY_EMAIL_HOST=http://127.0.0.1:8003

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

TOKEN_CLEANUP_INTERVAL_SECONDS=604800